.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; מרכיב את התוכן באמצע גם אנכית
  text-align: center;
}

.coco {
  display: flex;
  gap: 25px;
  font-family: 'CocoGothic';
  color: #ffffff;
}
