.Home {
    position: "relative";
    overflow: "hidden";
    height: "100vh";
    width: 100%;
}

.startPage {
    position: "absolute";
    width: "100%";
    padding: "100px 20px";
    text-align: "center";
    margin-top: 100px;
}

.coco {
    font-family: 'CocoGothic';
    color: #ffffff;
    white-space: pre;
}

.catchy {
    color: #ffffff;
    font-family: 'Catchy-mager';
    font-size: 60px;
}

button {
    background-color: #ffffff;
    color: #623e2a;
    padding: 10px 25px;
    border: none;
    font-size: 12px;
    font-family: 'CocoGothic';
    width: 180px;
    white-space: pre;
    cursor: pointer;
    transition: transform 0.25s ease;
    margin-top: 80px;
}

button:hover {
    transform: scale(1.05);
}

.endPage {
    text-align: center;
    padding: 40px;
}

.endPage-coco {
    font-size: 18px;
    margin: 5px 0;
}

.HomeCard {
    background-color: #efebe5;
    border: 1px solid #623e2a;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
}