.test {
    position: relative;
    z-index: 0;
    margin-top: 60px;
}

.homeImage {
    position: absolute;
    inset: 0;
    width: -webkit-fill-available;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.HomeCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    display: block;
}

.startPage {
    margin-top: 150px;
    text-align: center;

}

.coco {
    font-family: 'CocoGothic';
    color: #ffffff;
    white-space: pre;
}

.catchy {
    color: #ffffff;
    font-family: 'Catchy-mager';
    font-size: 60px;
}

button {
    background-color: #ffffff;
    color: #623e2a;
    padding: 10px 25px;
    border: none;
    font-size: 12px;
    font-family: 'CocoGothic';
    width: 180px;
    white-space: pre;
    cursor: pointer;
    transition: transform 0.25s ease;
    margin-top: 80px;
}

button:hover {
    transform: scale(1.05);
}

.endPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.HomeCard {
    background-color: #efebe5;
    border: 1px solid #623e2a;
    width: 250px;
    height: 150px;
}

.endPage-coco {
    font-family: 'CocoGothic';
    color: #ffffff;
    font-size: 18px;
    white-space: pre;
    margin-bottom: 0;
}

.endPage-coco {
    font-family: 'CocoGothic';
    color: #ffffff;
    white-space: pre;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 0;
}

.endPage-catchy {
    color: #ffffff;
    font-family: 'Catchy-mager';
    font-size: 60px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.endPage-coco2 {
    font-family: 'CocoGothic';
    color: #ffffff;
    white-space: pre;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.endPage-button {
    background-color: #ffffff;
    color: #623e2a;
    padding: 10px 25px;
    border: none;
    font-size: 12px;
    font-family: 'CocoGothic';
    width: 180px;
    white-space: pre;
    cursor: pointer;
    transition: transform 0.25s ease;
    margin-top: 30px;
}