.Layout {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "menu"
        "main";
}

.Layout aside {
    grid-area: menu;
}

.Layout main {
    grid-area: main;
}
