.Layout {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas:
        "menu"
        "header"
        "main";
}

.Layout aside {
    grid-area: menu;
}

.Layout header {
    grid-area: header;
}

.Layout main {
    grid-area: main;
}
