.Card {
    width: 300px;
    border: 1px solid #623e2a;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f1ed;
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.ImageContainer {
    padding: 10px;

}

.destination-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.description-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
    font-size: 16px;
    margin: 5px;
    padding: 0;
}

.test svg {
    flex-shrink: 0;
    margin-top: 3px;
}

.text {
    text-align: left;
    width: 240px;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}